body {
  margin: 0;
}

$Raleway300: "Raleway300", sans-serif;
$Raleway400: "Raleway400", sans-serif;
$Raleway500: "Raleway500", sans-serif;
$Raleway600: "Raleway600", sans-serif;
$Raleway700: "Raleway700", sans-serif;
$OpenSans300: "OpenSans300", sans-serif;
$OpenSans400: "OpenSans400", sans-serif;
$OpenSans600: "OpenSans600", sans-serif;

.header {
  margin: 25px auto;
}

@mixin uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 0;
}

.intro {
  margin-bottom: 300px;
}

.menu {
  padding-left: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #343434;
  }

  .phone {
    font-family: $OpenSans400;
  }
}

.menu:not(phone) {
  font-family: $Raleway500;
  font-size: 13px;
  line-height: 150%;
  @include uppercase;
}

.btn {
  color: rgba(52, 52, 52, 0.7);
  padding-right: 0;
}

.dropdown-menu {
  margin-left: 12px !important;
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-min-width: 0;
  --bs-dropdown-border-width: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .dropdown-item {
    padding: 6px;
    color: rgba(52, 52, 52, 0.7);
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
  color: #FF9619;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent;
}

.carousel-indicators {
  top: 630px;
}

.carousel-indicators [data-bs-target] {
  width: 12.91px;
  height: 12.91px;
  border-radius: 30px;
  border-bottom: none;
  border-top: none;
  background-color: rgb(184, 184, 184);
  margin-right: 10px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #FF9619 !important;
}

.carousel-block {
  width: 870px;
}

.intro {
  background: #CCB2A3;
  height: 590px;
}

.title-1 h3 {
  width: 270px;
  margin: 174px auto 60px;
  font-family: $Raleway600;
  font-size: 42px;
  line-height: 110%;
  color: white;
  @include uppercase;
}

.title-2 p {
  font-family: $Raleway400;
  margin: 35px auto;
  text-align: right;
  color: #FFFFFF;
}

.btn-orange-grey,
.btn-orange {
  font-family: $Raleway700;
  text-decoration: none;
  padding: 13px 22px;
  display: inline-block;
  line-height: 29px;
  background-color: #FF9619;
  @include uppercase;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.btn-orange:hover {
  color: white;
}

.btn-orange-grey:hover {
  background-color: #5B5B5B;
  color: white;
}

.title-1 h3::first-letter {
  color: #FF9619;
  @include uppercase;
}

@mixin h4 {
  font-family: $Raleway700;
  font-size: 35px;
  line-height: 110%;
}

.novelties h4 {
  @include h4;
  margin-bottom: 40px;
}

.novelties::first-letter,
.individual-furniture-block h4::first-letter {
  color: #FF9619;
}

.name {
  font-family: $Raleway400;
  @include uppercase;
  margin: 15px auto 5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: black;
}

.price {
  font-family: $OpenSans400;
  font-size: 18px;
  line-height: 25px;
  color: #FF9619;
  text-align: center;
  @include uppercase;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.slide-container {
  max-width: 970px;
  height: 412px;
  width: 100%;
}

.card-image,
.card-img {
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 30px;
}

.swiper {
  margin: 0 !important;
  padding-top: 20px !important;
  padding-bottom: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  margin-top: 0px !important;
  display: flex !important;
}

.swiper-container.d-flex.align-items-lg-center.justify-content-center {
  padding-top: 30px;
}

.cardd.swiper-slide.swiper-slide-active:hover,
.cardd.swiper-slide.swiper-slide-next:hover,
.cardd.swiper-slide.swiper-slide-duplicate-prev:hover {
  transform: scale(1.2);
  transition: all 1s ease-out;
}

.btn-rotator {
  margin-bottom: 150px;
  margin-top: 30px;
}

@mixin overlay {
  content: ' ';
  position: absolute;
  background: #FF9619;
}

.overlay-blue {
  @include overlay;
  height: 395px;
  width: 805px;
  z-index: 1;
  background: #A9C2BE;
}

.overlay-blue img {
  display: inline;
  margin-top: 30px;
}

.overlay-gray {
  @include overlay;
  width: 1363px;
  height: 453px;
  right: 0;
  background: #5B5B5B;
}

.overlay-orange-top {
  @include overlay;
  width: 149px;
  height: 110px;
  position: relative;
  margin-right: 86px;
  bottom: -75px;
  z-index: 1;
}

.overlay-orange-top p {
  margin: 60px 49px 22px 11px;
  font-family: $Raleway400;
  color: #FFFFFF;
  text-transform: lowercase;
  letter-spacing: 0.245em;
}

.overlay-orange-bottom {
  @include overlay;
  position: static;
  width: 200px;
  height: 90px;
  margin-top: 395px;
  margin-left: 237px;
}

.individual-furniture-block {
  margin: 103px 235px 103px 454px;
  width: 374px;
  height: 247px;
}

.individual-furniture-block h4 {
  @include h4;
  margin-bottom: 30px;
  color: white;
}

.title-3 p {
  font-family: $Raleway500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #FFFFFF !important;
}

.title-4 p {
  font-family: $Raleway300;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.individual-furniture {
  margin: 130px auto 160px;
}

@font-face {
  font-family: "Raleway300";
  src: url('../fonts/Raleway/Raleway-Light.ttf') format("truetype");
}

@font-face {
  font-family: "Raleway400";
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Raleway500";
  src: url('../fonts/Raleway/Raleway-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Raleway600";
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "Raleway700";
  src: url('../fonts/Raleway/Raleway-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "OpenSans300";
  src: url('../fonts/OpenSans/OpenSans-Light.ttf') format("truetype");
}

@font-face {
  font-family: "OpenSans400";
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "OpenSans600";
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format("truetype");
}